<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datos Cardiacos
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMensajeBienvenida()">
        <ion-icon name="help"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="input-container">
    <ion-list>
      <ion-item>
        <ion-icon name="heart" slot="start" color="danger"></ion-icon>
        <ion-label>Pulsaciones por minuto:</ion-label>
        <ion-input
          [(ngModel)]="pulsacionesPorMinuto"
          type="number"
          clearInput
          [disabled]="true"
          class="custom-input"
        ></ion-input>
      </ion-item>
    </ion-list>
  </div>
  
  <div class="center-container">
    <img [src]="pulsationState === 'low' ? 'assets/img/descanzo.png' : (pulsationState === 'high' ? 'assets/img/Ejercicio.png' : 'assets/img/normal.png')" alt="Estado del pulso">
  </div>
  
  <div class="message-card">
    <ion-card class="custom-card">
      <ion-card-content class="message-content">
        <p class="message-text">{{ pulsationState === 'low' ? 'Tu pulso está Bajo' : (pulsationState === 'high' ? 'Tu pulso está Alto' : 'Tu pulso está Normal') }}</p>
      </ion-card-content>
    </ion-card>
  </div>

 
</ion-content>

