<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datos Cardiacos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-icon name="heart" slot="start" color="danger"></ion-icon>
      <ion-label>Pulsaciones por minuto:</ion-label>
      <ion-input [(ngModel)]="pulsacionesPorMinuto" type="number" clearInput></ion-input>
    </ion-item>
  </ion-list>

 <!---> <ion-button expand="full" (click)="guardarPulsaciones()">Guardar</ion-button>-->
</ion-content>





<!--<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Datos Cardiacos
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-list>
      <ion-item>
        <ion-icon name="heart" slot="start" color="danger"></ion-icon>
        <ion-input aria-label>Pulsaciones por minuto:</ion-input>
        <ion-input [(ngModel)]="pulsacionesPorMinuto" type="number"></ion-input>
      </ion-item>
    </ion-list>

  

  </ion-content>
-->




