<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <img src="./assets/img/perfil.png">
<ion-card>
<ion-card-content>
  <ion-card-title text-center>
    Diego Ortega Martinez
  </ion-card-title>
</ion-card-content>
 </ion-card>
 <ion-card>
  <ion-card-content>
    <ion-card-title text-center>
    Edad: 22 años
    </ion-card-title>
  </ion-card-content>
   </ion-card>
   <ion-card>
    <ion-card-content>
      <ion-card-title text-center>
        diegomartinez@gmail.com
      </ion-card-title>
    </ion-card-content>
     </ion-card>
</ion-content>
